rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /users/{userId}/user_data/{docId=**} {
        allow read: if request.auth != null && request.auth.uid == userId;
        allow write: if false; 
    }
    
    match /users/{userId}/transactions/{txId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /users/{userId}/splits/{splitId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /users/{userId}/controls/{controlId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /stock_metadata/{symbol} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /price_history/{symbol} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /exchange_rates/{fxSym} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
